@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

:root{
  --primary-color:#09B2EC;
  --secondary-color:#A154A1;
  --colors-white:#FAFAFA;
  --colors-black:#080808;
  --colors-divider:#404040;
  --colors-text:#D4D4D4;
  --color-success: #5ce65c;
}
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Orbitron";
  src: url("./fonts/orbitron/Orbitron-SemiBold.ttf");
}
::-webkit-scrollbar {
  width: 10px;
}
#contact{
  position: relative;
}
.App-logo{
  height: 24px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: var(--colors-white); 
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 10rem;
}
body{
  scroll-behavior: smooth;
  background-color: var(--colors-black);
  color: var(--colors-white);
  font-family: "Orbitron";
  font-weight: 600;
  max-width: 100%;
  font-size: 14px;
  overflow-x: hidden;
  line-height: 24px;
}
h1{
  line-height: 64px;
}
p{
  font-family: 'Excon';
  font-weight: 400;
  color: var(--colors-text);
}
.flex{
  margin:2rem 2rem;
  padding:1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(8, 8, 8, 0.3);
  backdrop-filter: blur(24px); 
  -webkit-backdrop-filter: blur(24px);
  box-shadow: inset 0 0 8px 0 rgba(255, 255, 255, 0.2);
  z-index: 1000; 
  width: 80%;
  border-radius: 32px;
  transition: height 0.3s ease-in-out; 
}
.mt-2{
  margin-top: 0.55rem;
}
video::-webkit-media-controls {
  pointer-events: none;

}
header{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 1000;
}
.active{
  height: 80vh;
  align-items: start;
  padding: 0rem;
}
nav{
  position: absolute;
}
nav ul{
  display: flex;
  list-style-type: none;
  gap:2rem;
}
nav a{
  text-decoration: none;
  color: rgba(212, 212, 212, 1);
}
.rotate{
  transform: rotate(-45deg);
}
.activated{
  height: 2px !important;
}
.rotateOther{
  transform: rotate(45deg);
}
.button-primary {
  font-family: "Orbitron";
  border: 2px solid var(--primary-color);
  padding: 0.7rem 0.8rem;
  border-radius: 1.5rem;
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
  transition: border 0.3s, box-shadow 0.3s, color 0.3s;
  background: transparent;
  cursor: pointer;
}
.button-primary:hover{
  border: 2px solid rgba(68, 200, 245, 1);
  box-shadow: 0 0 10px rgba(68, 200, 245, 1);
  color: rgba(68, 200, 245, 1);
}
main{
  position: relative;
  width: 100vw;
}
main video{
  width: 100%;
  pointer-events: none;

}
.overlay-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}
.overlay-title h1{
  font-size: 64px;
}
.mb-1{
  margin-bottom: 1rem;
}
.overlay-text{
    font-family: sans-serif;
    margin-bottom: 1rem;
}

.custom-gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: repeat(6, 1fr);    
  height: 100vh; 
  width: 100vw; 
  gap: 10px; 
  background-color: var(--colors-black);
  position: relative;
  padding-bottom: 5rem;

}

.gallery-item {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-out; 
  border-radius: 8px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.gallery-item-1 {
  z-index: 10;
  grid-column: 2 / 5; /* Span 3 columns */
  grid-row: 2 / 4;    /* Span 2 rows */
}

.gallery-item-2 {
  grid-column: 5 / 9; /* Span 6 columns */
  grid-row: 1/8;     /* Span 4 rows */
}

.gallery-item-3 {
  grid-column: 9 / 12; /* Span 3 columns */
  grid-row: 2 / 4;      /* Span 2 rows */
}

.gallery-item-4 {
  grid-column: 2 / 6; /* Span 4 columns */
  grid-row: 5 / 7;    /* Span 2 rows */
}

.gallery-item-5 {
  grid-column: 8 / 12; /* Span 4 columns */
  grid-row: 5 / 7;     /* Span 2 rows */
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: filter 0.3s;
}
.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 20%;
}

.grid {
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.5); 
  pointer-events: none;
  width: 100px;  
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2); 
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
}
.grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px; 
}
#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2, h5{
  color: var(--colors-divider);
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--colors-black));
  z-index: 1;
  pointer-events: none;
}
.section-title  h2{
    color: var(--colors-divider);
    font-weight: 600;
    font-size: 40px;
}
.section-title  h1{
  font-weight: 600;
  font-size: 64px;
  margin: 1.5rem 0;
}
.section-title p{
  width: 20rem;
  text-align: center;
}
hr {
  border: none;
  border-top: 2px dashed var(--colors-divider);
  height: 1px;
  width: 80%;
  margin: 4rem 6rem 3rem 6rem;
}
.service-details{
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 2rem;
}
.service-details img{
  object-fit: cover;
  width: 45%;
}
.contact-aside-text{
  display: none;
}
.service-details h1{
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 2rem;
}
.service-details h2{
  font-size: 20px;
}
.events-container {
  text-align: center;
  padding: 20px;
  margin-top: 2rem;
}

.event-cards {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.carousel-settings{
  padding: 2rem 0 2rem 6rem;
}

.event-card {
  border: 1px dashed var(--colors-divider);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 316px;
}

.event-image {
  width: 100%;
  border-radius: 8px;
}

.event-details {
  margin-top: 1rem;
}

.event-details h3 {
  font-size: 1.2em;
  margin: 0;
}

.event-details p {
  margin: 5px 0;
  color: #555;
}
.slick-slide{
  height: 100%;
}
.contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding:0 8rem;
  align-items: start;
  margin-top: 6rem;
}
.contact h1{
  font-size: 64px;
  font-weight: 600;
  max-width: 32rem;
}
.contact p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400 !important;
  max-width: 32rem;
  margin-bottom: 2rem;
}
.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.contact-form h2{
  color: var(--colors-divider);
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 1rem;
}
.contact-form form{
  display: flex;
  flex-direction: column;
}

.form-container {
  border: 1px  #fff; 
  border-radius: 8px;
  width: 100%;
}

.event-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}
input {
  all: unset;
}
textarea{
  all: unset;
}
input, textarea {
  border: none;
  padding: 10px;
  border-bottom: 1px dashed var(--colors-divider);
  border-radius: 4px; 
  background-color: transparent; 
  width: 100%;
  margin:1rem 0;
}
.hamburger-menu{
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}
.line{
  height: 1px;
  background-color: white;
  width: 20px;
}
textarea::placeholder{
  font-family: "Orbitron";
}
input::placeholder{
    color: var(--colors-white);
}
textarea::placeholder{
  color: var(--colors-white);

}
textarea{
  height: 200px;
}
.contact-aside{
  max-width: 22rem;
  margin-top: 4rem;
}
.contact-aside span{
    color: var(--colors-divider);
}
.contact-button{
  margin-top: 2rem;
}
.upper-footer{
  display: flex;
  justify-content: space-between;
}
.footer-navigation{
  display: flex;
}
footer{
  padding: 5rem 5rem 2rem 5rem;
  background-color: rgba(13, 13, 13, 1);
  margin-top: 6rem;
  position: relative;
}
footer hr{
  margin: 0;
  width: 100%;
  margin: 2rem 0;
}
.footer-navigation ul{
  list-style-type: none;
  margin-right: 3rem;
}
footer p{
  color: var(--colors-divider);
}
footer img{
  margin-bottom: 1rem;
}

.footer-navigation ul a{
text-decoration: none;
color: var(--colors-white);
font-family: "Excon";
font-weight: 400;
}
.carousel-container{
  padding-left: 6rem;
  margin-top: 4rem;
}
.active{
  color: rgba(250, 250, 250, 1);
}
.footer-icon{
  margin:0.3rem 0.40rem;
}
.logo-link{
  display: flex;
}
.event-card {
  border-radius: 10px;
  background: #1e1e1e;
  text-align: center;
  transition: transform 0.3s ease;
}
.event-image {
  border-radius: 10px;
  margin-bottom: 10px;
}
video {
  width: 100vw;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.footer-icon img{
  color: var(--primary-color);
}
.event-title{
  padding-bottom: 2rem;
}
.flexColumn{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.flexLogo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem 2rem 0.5rem 2rem;
}
.first-nav-hr{
  border: none;
  border-top: 2px dashed var(--colors-divider);
  height: 1px;
  width: 100%;
  margin:0.5rem 0 0.5rem 0;
}
.nav-hr{
  border: none;
  border-top: 2px dashed var(--colors-divider);
  height: 1px;
  width: 100%;
  margin:1rem 0 0.5rem 0;
}
.block ul{
  display: block;
}
.hide{
  display: none !important;
}
@media (max-width: 640px) {
  .hamburger-menu{
    display: flex;
  }
  .contact-aside-text{
    display: block;
  }
  nav .main-nav{ 
    display: none;
  }
  .gallery-item-2 {
    grid-column: 3 / 11;
    grid-row: 1/6;
}
  .section-title{
    text-align: center;
  }
  .flex .button-primary{
    display: none;
  }
  .section-title h1{
    margin:0.5rem 0rem;
  }
  .service-details{
      flex-direction: column;
      gap: 2rem;
  }
  #services{
    margin-top: 2rem;
  }
  .logos:before, .logos:after{
    display: none;
  }
  .contact-aside{
    display: none;
  }
  .contact-form span{
    font-size: 2rem !important;
    line-height: 3rem !important;
  }
  .contact-form{
    text-align: center;
    padding: 1rem;
    align-items: center;
  }
  input{
    text-align: start;
  }
  textarea{
    text-align: start;
  }
  .contact{
    display: block;
    padding: 0 1rem;
    text-align: center;
    margin-top: 2rem;
  }
  .service-details img{
    object-fit: cover;
    width: 100%;
  }
  h1{
    font-size: 28px !important;
    line-height: 36px !important;
  }
  h2{
    font-size: 20px !important;
  }
  section{
    width: 100vw;
  }
  .upper-footer{
    flex-direction: column;
  }
  .footer-logo{
    margin-bottom: 2rem;
  }
  .footer-navigation{
    flex-direction: column;
    gap:1.5rem;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
  display: flex;
  margin-top: 2rem;
}
.logos:before,
.logos:after{
  position: absolute;
  top:0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
.logos::before{
  left:0;
  background: linear-gradient(to left, rgba(255,255,255,0),var(--colors-black));
}
.logos::after{
  right:0;
  background: linear-gradient(to right, rgba(255,255,255,0),var(--colors-black));
}

.logos-slide {
  animation: 35s slide infinite linear;
}


.logos-slide img {
  height: 100px;
  margin: 0 40px;
}
@media (max-width: 1000px) {
  .contact-aside{
    display: none ;
  }
  .contact{
    display: flex;
  }
}
@media (max-width: 380px) {
  .contact-form span{
    font-size: 1.5rem !important;
    line-height: 3rem !important;
  }
}
.logos-slide img{
  width: 124px;
  object-fit: contain;
}
.button-enabled{
  font-family: "Orbitron";
  border: 2px solid var(--color-success);
  padding: 0.7rem 0.8rem;
  border-radius: 1.5rem;
  color: var(--color-success);
  font-weight: 600;
  text-decoration: none;
  transition: border 0.3s, box-shadow 0.3s, color 0.3s;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-enabled img{
  margin-left: 0.5rem;
  height: 18px;
}
.circle{
  position: absolute;
  top: 20px;
  right:80px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border:1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle img{
  object-fit: contain;
  margin-bottom: 0rem;
}
.filter-primary{
  filter: invert(35%) sepia(90%) saturate(600%) hue-rotate(180deg) brightness(105%) contrast(100%);
}